@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  //max-width: var(--max-content-width);
}

.collectionsItem {
  margin: 0 0 2rem;
}

.collectionsTitle {
  font-size: 1.5rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.tableThead {}
.tableTbody {}
.tableTr {}

.tableTh {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.tableTd {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.tableTdBreak {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;

  max-width: 800px;
  word-break: break-all;
}